@media screen and (max-width: 540px){
  .addTodoCSS{
    position: fixed;
    bottom: 1%;  
    left: 10%;
    right: 10%;
  }
  .typebox{
    flex: 6;
    padding: 20px;
  
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    
  }
  ::placeholder {
  
    font-size: 18px;
    text-align: left;
  }
  .btn{
    margin-left: 2%;
    color: antiquewhite;
    background-color: darkblue;
    flex: 3;
    border-radius: 50px;
    border-color:darkblue;
    font-size:15px;
  }
}
@media screen and (min-width: 540px){
.addTodoCSS{
  margin: 15px;
  margin-left: 20%;
  margin-right: 20%;

}
.typebox{
  flex: 6;
  padding: 20px;
  margin-left: 5%;
  border-radius: 10px;
  font-size: 23px;
  text-align: left;
  
}
::placeholder {
  
  font-size: 23px;
  text-align: left;
}
.btn{
  margin-left: 1%;
  margin-right:5%;
  flex: 1;
  border-radius: 10px;
  font-size:19px;
}
}